div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    color:brown;
}
img {
        width: 1280px;
    height: 380px;
    background-size: 150px 300px;
    border-color: blue;
    border-style: solid;
}

h3 {
      background-color: black;
    color:brown;
    font-size: 18px;
    text-decoration: underline;
}
p {
    color:black;
    font-size:12px;
    line-height: 28px;
    
}